.background {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #797a7d;
    -fx-text-fill: #ffffff;
    /*-fx-font-size: 20px;*/
}

.menu-button {
    -fx-background-color: #797a7d;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
}

.border-pane {
    -fx-background-color: #ffffff;
}

.grid-pane {
    -fx-background-color: #ffffff;
}