.background {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #797a7d;
}

.button:default {
    -fx-background-color: #797a7d;
}

.button:cancel {
    -fx-background-color: #f49ca2;
}

.label {
}

.titled-pane > .title > {
        -fx-background-color: #f4f5f8;
}

.menu-button {
    -fx-background-color: #797a7d;

}

.border-pane {
    -fx-background-color: #ffffff;
}

.grid-pane {
    -fx-background-color: #ffffff;
}